body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #AEE3F5;
  color: #333;
  text-align: center;
}

 #locked-page, #main-page {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

#loading-page {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: white;
  font-size: 2em;
  background-color: #88d0e5;
}

#timer {
  font-size: 4em;
  margin-top: 15px;
  font-weight: bold;
}

header {
  padding: 40px 20px;
  color: white;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
  animation: bounce 2s infinite;
}

header h2 {
  font-size: 1.5em;
  font-weight: 400;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 30px;
}

.gallery a { text-decoration: none; }

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s;
  cursor: pointer;
}

.gallery img:hover { transform: scale(1.1); }

.message {
  background: #FFFFFF;
  margin: 40px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  border: 3px solid #FFB7CE;
}
header h1 {
  color: #FF9EC4; 
}

header h2 {
  color: #175868; 
}

footer {
  background: #88D0E5; 
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

footer a {
  color: #2f2f2f;
  text-decoration: none;
  font-weight:bold;
}
